apiVersion: v1
kind: Service
metadata:
  labels:
    app: ${FRENTLY_DEPLOYMENT_NAME}-hasura
  name: ${FRENTLY_DEPLOYMENT_NAME}-hasura
spec:
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  selector:
    app: ${FRENTLY_DEPLOYMENT_NAME}-hasura
  type: LoadBalancer
