apiVersion: v1
kind: Pod
metadata:
  name: ${BUSYBOX_IMAGE_NAME}
  namespace: default
spec:
  containers:
  - image: busybox
    command:
      - sleep
      - "3600"
    imagePullPolicy: IfNotPresent
    name: busybox
  restartPolicy: Always