apiVersion: v1
kind: ConfigMap
metadata:
  name: ${FRENTLY_DEPLOYMENT_NAME}-postgres-config
  labels:
    app: postgres
data:
  POSTGRES_DB: postgresdb
  POSTGRES_USER: frentlyadmin
  POSTGRES_PASSWORD: ${FRENTLY_DATABASE_PASSWORD}
  PGDATA: /data/k8s
