apiVersion: v1
kind: Service
metadata:
  name: ${FRENTLY_DEPLOYMENT_NAME}-postgres
  labels:
    app: ${FRENTLY_DEPLOYMENT_NAME}-postgres
spec:
  type: LoadBalancer
  ports:
    - port: 5432
  selector:
    app: ${FRENTLY_DEPLOYMENT_NAME}-postgres
